.fields{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px rgb(173, 173, 173);
    border-radius: 3px;
}
label{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.container{
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(228, 228, 228);
    display: flex;
    width: 50vh;
    height: 50vh;
    box-shadow:2px 3px rgb(105, 105, 105);
    border-radius: 1rem;
}
.conv-amt{
    padding: 0;
    border: 1px solid black;
    background-color: #fff;
    font-size: 18px;
    width:200px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px rgb(173, 173, 173);
    border-radius: 3px;
}